   body{
    margin: 0;
    background: rgb(248, 211, 242);
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
}  
/* rgb(30, 29, 29) */
/* ------------------Header-------------------- */ 
.header{
    background: rgb(30, 29, 29) ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    box-shadow: 1px 1px 100px rgb(30, 29, 29);
    outline: 2px solid black;
}
.header__img{
    padding: 10px;
    margin: auto;
    width: 80px;
}
.header__p{
    padding: 10px;
    margin: 20px;
    align-self: center;
    font-size: x-large;
    color: rgb(248, 211, 242);
    border-right: 2px solid rgb(248, 211, 242) ;
}
.header__form{
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    min-width: 200px;
}
.header__form-label{
    color: white;
    margin: 2px 5px 0px 5px;
}
.header__form-input{
    border:none;
    border-bottom: 2px solid white;
    border-radius: 5%;
    margin: 2px 5px 0px 5px;
    background: rgb(30, 29, 29);
    color: white ;
    
}
.header__form-input:focus{
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px 2px rgb(248, 211, 242); 
    transition: 2s;
}
.header__form-login[type="submit"]{
    margin: 2px 5px 0px 5px; ;
    border: 1px solid white;
    background: rgb(30, 29, 29);
    color: white ;
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
}
.header__form-login:hover{
    color: rgb(248, 211, 242) ;
    border: 1px solid rgb(248, 211, 242);
    cursor: pointer;
}
.header__form-register{
    text-decoration: none;
    margin: 2px 5px 0px 5px; ;
    color:white;
}
.header__form-register:hover{
    color: rgb(248, 211, 242);
}
/*------------------Header---------------------*/
/*------------------Section--------------------*/
