  body{
      margin: 0;
    background: rgb(248, 211, 242);
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
} 
/* ------------------Header-------------------- */ 
header{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(30, 29, 29);
}
header img{        
    height: 70px;
}
header p{                                  
    padding-right: 10px;
    border-right: 1px solid rgb(248, 211, 242);
    text-transform: uppercase;
    color: rgb(248, 211, 242);
}
form{                          
    font-family: italic;
}
input{
    padding: 5px;
    color: white;
    background: rgb(30, 29, 29);
    border: 1px solid rgb(248, 211, 242);
}
input:focus{
    background: black;
}
.form__register{
    text-decoration: none;
    color:white;
}
.form__register:hover, .form__login:hover{
    color: rgb(248, 211, 242);
    cursor: pointer;
}

/*------------------Header---------------------*/
/*------------------Section--------------------*/
section{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
section p{
  font-size: xx-large ;
}
video{
    border: 2px solid rgb(30, 29, 29);
    border-radius: 20px;
    width:600px;
}
.p__section {
    margin-bottom: 0px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.desc {
    margin-bottom: 20px;
    font-size: 12px;
}