body{
    margin: 0px;
    background: rgb(131, 131, 131);
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
}
header{
    width: auto;
    height: 400px;
    display: block;
    background: black;
    box-shadow: 2em 2em 2em lightcoral;
}
#header-imgCoaching{
    border-radius: 30%;
    width: 3em;
    height: 3em;
}
.header__nav{
    display: flex;
    justify-content: end;
    
}
input{
    margin:0.5em;
}